
.logo {
	text-align: center;
	
}

hr { 
	border-color: black; 
	width: 100%;

}
.navbar1 {
    font-family: 'Lobster', cursive;
    margin: 0;
    font-size: 160%;
    background-color: white;
	
}
.contact1 {

  font-size: 140%;
  font-family: 'Lobster';
}

h3 {
	font-size: 180%;
	font-family: 'Lobster';

}



.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
   
      height: 380px;
      max-width: 400px;
      margin: auto;
  }

.carousel-caption {
	color: #4099FF;

}
.carousel slide {
	color: #4099FF;

}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000000;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #4099FF;
}

.center {
	text-align: center;
}
.carousel-inner  {
	text-align: center;
}
.item {
	text-align: center;
}
.foot1 {
	font-family: 'Lobster';
    font-size: 160%;

}

.foot {
	word-spacing: 1cm;
}