legend {
	color: #000000;
}

.result {
  
    width: 60%;
    font-family: 'Exo', sans-serif;
    background-color: #000000;
    margin-top: 40px;
    margin-left: 20%;
    height: 120px;
    padding: 30px;
    border-radius: 20px;

}